{{!-- Form to create a new blogpost --}}

<section class="card">
    
    <section class="card-header d-flex">
    </section>

    <section class="card-body">
        <form class="d-flex flex-column submit-post">
            <label for="new-post">New Post Title</label>
            <input type="text" id="new-post">

            <label for="new-post">New Post Body</label>
            <textarea rows="10" cols="50">Enter text here</textarea>
            <button type="submit">Submit</button>
        </form>
    </section>

</section>

