<section id="form-card" class="col-md-10 d-flex flex-column justify-content-center">
  <h2 id="form-card-header">Login</h2>
  <form class="login-form d-flex flex-column">
    <label for="username-login">Username</label>
    <input type="text" id="username-login" class="form-control-lg"/>

    <label for="password-login">Password</label>
    <input type="text" id="password-login" class="form-control-lg"/>

    <br>
    <button class="btn btn-primary" type="submit">Login!</button>

  </form>

</section>

<script src="./js/login.js"></script>