<section id="form-card" class="col-md-10 d-flex flex-column justify-content-center">
  <h2 id="form-card-header">Sign Up</h2>
  <form class="signup-form d-flex flex-column">
    <label for="username-signup">Username</label>
    <input type="text" id="username-signup" class="form-control-lg"/>

    <label for="password-signup">Password</label>
    <input type="text" id="password-signup" class="form-control-lg"/>

    <br>
    <button class="btn btn-primary" type="submit">Sign up!</button>

    <p> <a href="/login">Log in instead</a> </p>

  </form>

</section>

<script src="./js/signup.js"></script>